.contenedor {
  display: flex;
  gap: 32px; 
  justify-content: center;
  align-items: flex-start;
  max-width: 1200px; 
  margin: 40px auto; 
}

.Patrones,
.Eventos {
  width: 50%; 
  min-width: 320px;
  padding: 24px;
  border-radius: 10px;
  background-color: rgb(194, 255, 255);
  margin-bottom: 20px;
  box-sizing: border-box;

}


.Eventos {
  background-color: rgb(250, 209, 253);
}


.btnImagen  {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.imagen {
  display: block;
  width: 140px;
  height: auto;
  border-radius: 8px;
}

.flex-contenido-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.flex-contenido-img ul{
    margin: 1;
    padding: 0 0 0 20px;
    flex: 1;;
}
h4 {
  text-align: center;
  color: rgb(100, 100, 100);
  font-family: 'Trebuchet MS', sans-serif;
  size: 0cap;
 
 
}

.eventos-grid button {
  display: block;
  background: #fff;
  color: #000000;
  padding: 10px 16px;
  border-radius: 8px;
  border : none;
  margin-bottom: 12px;
  font-size: 1.1em;
  cursor: pointer;
}



footer {
  background-color: #f5e6f7;
  color: #5b2c6f;
  text-align: center;
  padding: 25px 15px;
  font-size: 0.95rem;
  border-top: 3px solid #e4b4db;
  font-family: 'Trebuchet MS', sans-serif;
  margin-top: 40px;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
}

footer a {
  color: #a14da0;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
  color: #8e44ad;
}

footer .frase {
  font-style: italic;
  font-size: 1rem;
  margin-top: 10px;
  color: #88417c;
}

footer .iconitos {
  font-size: 1.2rem;
  margin-top: 8px;
}

footer .iconitos span {
  margin: 0 8px;
}

